* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #424242;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: -10px; /* adjust as needed */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 10px;
}


main {
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main h2 {
  margin: 0 0 20px;
}

#start-button {
  background-color: #424242;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #424242;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}


/* Shelter */

.shelter-container {
  width: 80%;
  margin: 0 auto;
  background-color: #e0e0e0;
  padding: 30px;
  border-radius: 10px;
}

.shelter-header {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}

.shelter-eggs {
  display: grid;
  grid-template-columns: repeat(6, 96px);
  grid-template-rows: repeat(6, 96px);
  grid-gap: 20px;
  justify-content: center;
}

.egg-box {
  background-color: white;
  width: 96px;
  height: 96px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.egg-box img {
  max-width: 100%;
  max-height: 100%;
}


/* Team */

.team-container {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-box {
    background-color: white;
    width: 170px;
    height: 220px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.team-box img {
    max-height: 96px;
	max-height: 96px;
}


.team-box p {
  text-align: center;
  font-size: 16px;
}

.pokemon-sprite {
    width: 100%;
    height: 120px;
}

.pokemon-info {
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pokemon-name {
    width: 90%;
}

.pokemon-level {
    width: 50%;
    transform: translateX(50%)
}

.stats-title {
	margin-top: 40px;
}

.team-stats {
  margin-top: 40px;
  margin-left: 5%;
  height: 80vh;
}

.button-container {
  text-align: center;
}

.hatching-button, .evolving-button {
  margin-right: 10px;
  padding: 2%; 
}



/* Shop */

.shop-container {
    display: flex;
}

.currency {
    font-size: 20px;
}


.shop-inventory, .shop-selling {
    flex-basis: 50%;
    margin: 20px 0;
}

.shop-inventory {
  margin-right: 20px;
}

.shop-selling {
	margin-left: 20px;
}

.shop-container table th.item {
  height: 64px;
  width: 75px;
}

.shop-container table th.description {
  height: 64px;
  width: auto;
}

.shop-container table th.price {
  height: 64px;
  width: 100px;
}

.shop-container table th.actions {
  height: 64px;
  width: 64px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightgray;
  font-weight: bold;
}

/* PC */

.pc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pc-team-box {
    background-color: white;
    width: 96px;
    height: 96px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.pc-storage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pc-storage-spot {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid black;
  display: inline-block;
}

.pc-team-box img {
	max-width: 96px;
	max-height: 96px;
}

.pc-storage-box {
    background-color: white;
    width: 96px;
    height: 96px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.pc-storage-box img {
	max-width: 96px;
	max-height: 96px;
}

.selected {
  background-color: lightblue;
}

/* Interaction */

.interaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  height: 100%;
}

.interaction-box {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.interaction-box img {
max-width: 96px;
max-height: 96px;
}

.hatch-alert {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

#idle-button {
  margin-top: 20px;
  padding:1%;
}

/* Token */

.token-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.token-table {
  width: 15%;
  margin-bottom: 20px;
  border-collapse: collapse;
  max-height:96px;
}

.token-table h3 {
  text-align: center;
  margin-bottom: 10px;
}

.token-table th, .token-table td {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.token-table th {
  background-color: lightgray;
  font-weight: bold;
}

// Daycare 

.daycare-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	padding-bottom: 5%;
}

.daycare-team-container, .parents-container, .eggs-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team-slot, .parent-slot, .egg-slot {
    background-color: white;
    width: 96px;
    height: 96px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
}

.team-slot, .parent-sprite, .egg-sprite img {
	max-width: 96px;
	max-height: 96px;
}

.selected {
  background-color: lightblue;
}
